body.categories-list {
	// 2016-12-21 Колонки двухколоночного списка разделов.
	table.category-list, table.topic-list {
		// 2016-12-21 Убираем бессмысленные заголовки «Categories» и «Latest» над списком разделов.
		> thead {display: none;}
		// 2016-12-21 Убираем жирную полоску между верхним меню и телом страницы.
		tbody tr:first-of-type {border-top: 0;}
	}
	table.category-list {
		&.with-topics {
			td {
				// в ядре: 45%
				&.category {width: 35%;}
				&.topics {display: none;}
			}
		}
		// 2018-01-14 It is applied to a category description at the front page.
		.category-description {font-size: 0.9em; margin-top: 0;}
	}
}