/**
 * 2017-04-28
 * Высота логотипов подразделов на странице раздела
 * при применении для опции раздела «Subcategory List Style» значения «Boxes with featured topics».
 * Мои логотипы квадратны, поэтому ширина их будет такой же, как заданная здесь высота.
 */
.category-boxes .category-box .logo, .category-boxes-with-topics .category-box .logo {height: 100px;}
/* 2017-04-14 */
#topic[data-topic-id="2775"] table td {vertical-align: top; border: 0;}
/* 2017-05-04  В ядре: «padding: 0.5em». */
.hljs {padding: 0;}
/**
 * 2017-05-04
 * Ранее сам же ставил «margin-bottom: 16px» в плагине «df-core-private»:
 * https://github.com/discourse-pro/df-core-private/blob/fdf48f1f9/assets/stylesheets/_topic.scss?ts=4#L81
 */
html.desktop-view body .row > .topic-body .contents img {margin-bottom: 8px;}