* {
	tab-size:4;
	// Firefox пока не принимает во внимание это правило без префикса -moz-
	// https://developer.mozilla.org/en-US/docs/Web/CSS/tab-size
	-moz-tab-size:4;
}
html {
	font-family: 'Open Sans', sans-serif;
	color: rgb(103, 96, 86);
	body {
		footer > h3, ol.category-breadcrumb {display: none;}
		// Показываем навигацию разделов только когда находимся в каком-нибудь разделе.
		// 2015-06-05
		// В этом случае нас выручает селектор «body[class*='category-']»:
		// https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors
		// Надо использовать именно «*=», а не «^=»,
		// потому что класс category-<slug> необязательно стоит первым в списке классов.
		&[class*='category-'] {ol.category-breadcrumb {display: block;}}
	}
}
// 2016-07-25
// В ядре отступ равен 900 пикселей.
// https://github.com/discourse/discourse/blob/a9207dafa/app/assets/stylesheets/desktop/topic-timeline.scss#L16-L21
// Увеличиваем его, потому что у нас страница шире.
.timeline-container {
	// 2016-10-04
	margin-left: 87%;
	@media all and (min-width: 1250px) {margin-left: 1000px;}
}
// 2018-01-13
.latest-topic-list .table-heading {display: none;}
// 2018-01-14
// It is applied to:
// 1) subcategory titles
// 2) category titles in the latest topics block (at right of the front page)
.badge-wrapper {font-size: 0.95em;}
