html {
	font-family: 'Open Sans', sans-serif;
	color: rgb(103, 96, 86);
	body {
		footer > h3, ol.category-breadcrumb {display: none;}
		// Показываем навигацию разделов только когда находимся в каком-нибудь разделе.
		.categories-list ol.category-breadcrumb {display: block;}
	}
}