html {
	body {
		// Повысил приоритет «Courier New» по сравнению с ядром.
		code, pre {
			font-family:
				"Courier New"
				, Consolas
				, Menlo
				, Monaco
				, "Lucida Console"
				, "Liberation Mono"
				, "DejaVu Sans Mono"
				, "Bitstream Vera Sans Mono"
				, monospace
			;
			line-height: normal;
			font-weight: bold;
		}
		// Блоки кода жирным не выделяем
		pre > code {font-weight: normal;}
		.topic-body {
			.contents {
				//font-family: "OpenSansRegular",sans-serif;
				font-family: "Open Sans",sans-serif;
			}
		}
	}
}
html.desktop-view {
	body {
		code, pre {font-size: 20px;}
		// Блоки кода жирным не выделяем
		pre > code {font-weight: normal;}
		#topic-title h1 {font-size: 2em;}
		// Правило обязательно должно быть размещено на наружнем уровне,
		// чтобы не поломать мобильный режим.
		.topic-body {width: 800px;}
		.topic-body {
			.contents {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}
html.mobile-view {

}

