// 2024-08-26 "Improve the appearance of `<code>`": https://github.com/discourse-pro/df-core-private/issues/12
code, pre {
	font-family: Consolas, "Courier New", monospace;
	line-height: normal;
	font-weight: bold;
}
pre {
	// 2024-02-28
	// 1) "A page with a long code block is displayed wrongly": https://github.com/discourse-pro/df-core/issues/17
	// 2) The original rule: `max-height: 2000px;`
	// https://github.com/discourse/discourse/blob/v3.2.0/app/assets/stylesheets/common/base/topic-post.scss#L1023
	max-height: none;
	> code {
		font-weight: normal; // Блоки кода жирным не выделяем
		max-height: none; // В ядре: 500px
	}
}
.container.posts {
	// 2022-08-14 https://github.com/discourse/discourse/blob/v2.9.0.beta9/app/assets/stylesheets/common/base/topic.scss#L29
	margin-bottom: 0;
	.topic-body {
		.contents {
			font-family: "Open Sans",sans-serif;
			// 2016-07-26 В ядре overflow: hidden, из-за этого правый край слишком широких картинок не виден.
			.cooked {overflow: visible;}
		}
		// 2015-06-27
		// Чтобы в Firefox не появлялась горизонтальная полоса прокрутки  при длинной строке кода.
		// https://css-tricks.com/snippets/css/make-pre-text-wrap/
		pre {white-space: pre-wrap;}
	}
}
html.desktop-view {
	// 2024-08-26 "Improve the appearance of `<code>`": https://github.com/discourse-pro/df-core-private/issues/12
	code, pre {font-size: initial;}
	h1, h2, h3, h4, h6, h6 {code, pre {font-size: 110%;}}
	.admin-contents {code, pre {font-size: 12px;}}
	pre > code {font-weight: normal;} // Блоки кода жирным не выделяем
	#topic-title h1 {font-size: 1.5em;}
	.row {
		// 2022-08-14
		// 1) It is `flex` in new Discourse versions:
		// https://github.com/discourse/discourse/blob/v2.9.0.beta9/app/assets/stylesheets/desktop/topic.scss#L124
		// 2) I use `block` because I do not want to devote a column for the post's avatar,
		// and want the topic's text wrap the avatar instead.
		display: block;
		> .gutter {
			padding-left: 0;
			width: 200px;
			position: absolute;
			top: 0;
			left: 1010px;
		}
		> .topic-avatar {
			height: 45px;
			padding: {
				right: 8px;
				bottom: 8px;
			}
		}
		// Правило обязательно должно быть размещено на наружнем уровне, чтобы не поломать мобильный режим.
		> .topic-body {
			float: none;
			width: 100%; // The previous value was `87%` set at 2016-10-04.
			.topic-meta-data {
				overflow: hidden;
				&:after {clear: none;}
			}
		}
	}
}
// 2024-08-26 "Improve the appearance of headers": https://github.com/discourse-pro/df-core-private/issues/16
.topic-body {
	// 2024-08-26 "Improve the appearance of topics": https://github.com/discourse-pro/df-core-private/issues/17
	p {margin: 0.25em 0;}
	.contents {
		h2 {
			font-size: 1.4em;
			// 2024-08-26 "Improve the appearance of headers": https://github.com/discourse-pro/df-core-private/issues/16
			margin:{top: 0.5em; bottom: 0.25em;}
		}
		h3 {
			font-size: 1.3em;
			// 2024-08-26 "Improve the appearance of headers": https://github.com/discourse-pro/df-core-private/issues/16
			margin:{top: 0.4em; bottom: 0.2em;}
		}
		h2 + h3 {margin-top: 0;}
		img {margin:{top: 8px; bottom: 16px;};}
	}
}
aside.onebox {
	&.githubblob  {
		border: 0; padding: 0; // 2017-04-30
		.onebox-body > h4 > a {font-size: smaller;}
	}
	.onebox-body {
		h3, h4 {margin-bottom: 5px;} // 2017-05-04 В ядре «margin-bottom: 10px».
	}
	/**
	 * 2017-05-09
	 * Используемый Discourse компилятор Markdown почему-то добавляет <br> между GitHub Onebox и <img>.
	 * Первой попыткой устрения этой проблемы было: «br + img {margin-top: 0 !important;}»
	 * Текущий вариант вроде получше.
	 * https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_selectors
	 */
	& + br {display: none !important;}
}
.githubblob > header {display: none;}
/* 2017-04-05 */
.cooked h4, .cooked h5, .cooked h6, .d-editor-preview h4, .d-editor-preview h5, .d-editor-preview h6 {margin: 0 0 0.2em 0;}
pre {
	margin-top: 0;
	&.onebox {
		margin-bottom: 0; // 2017-05-04
		/**
		 * 2017-05-04
		 * Замечание №1
		 * В ядре «margin-left: 40px».
		 * Я решил уменьшить этот отступ, чтобы больше места оставалось для кода.
		 * Замечание №2
		 * В ядре «margin-bottom: 9px».
		 */
		code ol.lines {
			margin-bottom: 0; margin-left: 35px;
			li:before {width: 30px; left: -35px;} /* 2017-05-04 Номера строк программного кода. */
		}
	}
}
/**
 * 2017-05-04
 * Замечание №1
 * С недавних пор (заметил неделю назад) Discourse стал добавлять горизонтальную полосу прокрутки
 * для блоков цитируемого с GitHub кода в том случае, когда строки кода слишком длинные.
 * Моя заплатка устраняет эту проблему: строки кода теперь переносятся (как раньше).
 * В ядре вместо моего правила стоит «white-space: pre».
 * http://stackoverflow.com/a/5108401
 * Замечание №2
 * Оказалось, что правило «white-space: pre-wrap» ещё хуже:
 * оно переносит программныф код в бессмысленных местах, делая его синтаксически некорректным.
 * Поэтому вернул «white-space: pre».
 * https://developer.mozilla.org/en-US/docs/Web/CSS/white-space?v=example#Values
 */
pre.onebox code ol.lines li {white-space: pre;}