html {
	body {
		// Повысил приоритет «Courier New» по сравнению с ядром.
		code, pre {
			font-family:
				"Courier New"
				, Consolas
				, Menlo
				, Monaco
				, "Lucida Console"
				, "Liberation Mono"
				, "DejaVu Sans Mono"
				, "Bitstream Vera Sans Mono"
				, monospace
			;
			line-height: normal;
			font-weight: bold;
		}
		// Блоки кода жирным не выделяем
		pre > code {font-weight: normal;}
		.topic-body {
			.contents {
				font-family: "Open Sans",sans-serif;
			}
			// 2015-06-27
			// Чтобы в Firefox не появлялась горизонтальная полоса прокрутки
			// при длинной строке кода.
			// https://css-tricks.com/snippets/css/make-pre-text-wrap/
			pre {white-space: pre-wrap;}
		}
	}
}
html.desktop-view {
	body {
		code, pre {font-size: 20px;}
		.admin-contents {code, pre {font-size: 12px;}}
		// Блоки кода жирным не выделяем
		pre > code {font-weight: normal;}
		#topic-title h1 {font-size: 2em;}
		.row {
			> .gutter {
				padding-left: 0;
				width: 200px;
				position: absolute;
				top: 0;
				left: 1010px;
			}
			> .topic-avatar {
				height: 45px;
				padding: {
					right: 8px;
					bottom: 8px;
				}
			}
			// Правило обязательно должно быть размещено на наружнем уровне,
			// чтобы не поломать мобильный режим.
			> .topic-body {
				width: 990px;
				float: none;
				.contents {
					font-size: 16px;
					line-height: 24px;
					margin-top: 8px;
				}
				.topic-meta-data {
					overflow: hidden;
					&:after {clear: none;}
				}
			}
		}
	}
}
html.mobile-view {}

