// 2024-01-29 "Fix the height of header controls": https://github.com/discourse-pro/df-core-private/issues/7
body.category ol.category-breadcrumb > :not(:first-child) {display: none;}
body.navigation-topics {
	// 2016-12-21 Уменьшаем расстояние между верхним меню и списком тем.
	.list-controls .nav {margin-bottom: 0;}
}
// 2016-12-21
// Иначе после прокрутки списка в тем вниз таблица расширяется на всю ширину экрана.
// http://stackoverflow.com/a/13850750
// Как оказалось, этот блок не всегда расположен внутри body.navigation-topics
// Например, на странице https://mage2.pro/c/meta/first-steps
// элемент <body> имеет только стили «staff docked category-meta-first-steps».
// Поэтому вынес это важное правило на верхний уровень иерархии.
table.topic-list {word-break: break-all;}